:root {
    --main-padding: 24px;
    --bluebg: #0099ff;
    --mainbg: #ebebeb;
    --yellow-shade: #ffe600;
    --regular-radius: 8px;
    --main-shadow: 2px 2px 5px 1px #80808040;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    margin: 0;
    grid-template: auto 1fr / 1fr 4fr;
}

#sidebar {
    grid-row-start: span 2;
    background-color: var(--bluebg);
    color: white;
    font-weight: bold;
    display: grid;
    grid-template-rows: 50px 15em 7em;
    gap: 20px;
    padding: var(--main-padding);
}
#sidebar > div {
    display: grid;
}
#sidebar > div:first-child {
    font-size: x-large;
    gap: 8px;
    grid-template-columns: auto 1fr;
    align-items: center;
}
#sidebar > div:first-child svg {
    height: 35px;
    width: 35px;
}
.side-content {
    padding-left: 8px;
    display: grid;
    gap: 18px;
    grid-template-columns: auto 1fr;
    align-items: center;
}

#header {
    display: grid;
    grid-template-rows: auto auto;
    padding: var(--main-padding);
    gap: 25px;
    box-shadow: var(--main-shadow);
}
#header > div:first-child {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
    align-items: center;
}
#header > div:first-child > span:first-child {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    align-items: center;
}
#header > div:first-child > span:last-child {
    font-weight: bold;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, auto);
    align-items: center;
}
#header input[type="search"] {
    border: none;
    background-color: var(--mainbg);
    border-radius: 25px;
    padding: 6px;
}
#header input[type="search"]:focus {
    border: none;
    outline: none;
}
#header > div:last-child {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
#header > div:last-child > span:first-child {
    display: grid;
    gap: 8px;
    grid-template: auto auto / auto 1fr;
    font-weight: bold;
    align-items: center;
}
#header > div:last-child > span:first-child img {
    grid-row-start: span 2;
}
#name-and-username {
    font-size: large;
}
#navbtns-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    justify-self: end;
}
#header button {
    background-color: var(--bluebg);
    color: white;
    border-radius: 15px;
    border: none;
    padding: 8px;
    width: 80px;
}

#main-content {
    background-color: var(--mainbg);
    display: grid;
    gap: 18px;
    grid-template: auto 1fr auto 1fr / 3fr 1fr;
    padding: var(--main-padding);
    box-shadow: inset 0 2px 5px 0 #00000040;
}
#projects {
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.project-container {
    background-color: white;
    padding: var(--main-padding);
    border-left: 6px solid var(--yellow-shade);
    border-radius: var(--regular-radius);
    display: grid;
    grid-template-rows: auto auto 1fr;
    box-shadow: var(--main-shadow);
}
.project-actions-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 15px;
    align-items: end;
    justify-content: end;
}
#main-content h3,
#main-content h4,
#main-content p {
    margin: 0;
}
#announcements {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
    background-color: white;
    border-radius: 12px;
    padding: var(--main-padding);
    display: grid;
    gap: 8px;
    box-shadow: var(--main-shadow);
}
#announcements > div {
    display: grid;
    grid-template-rows: 1fr auto 1fr auto 1fr;
}
#main-content hr {
    border: 1px solid lightgrey;
    width: 100%;
}
.announcement-container {
    font-size: small;
}
.announcement-container {
    text-overflow: ellipsis;
}
#announcements + h3 {
    grid-row: 3 / 4;
    grid-column: 2 / -1;
}
#trending {
    grid-row: 4 / -1;
    grid-column: 2 / -1;
    display: grid;
    gap: 15px;
}
#trending-content-container {
    background-color: white;
    padding: var(--main-padding);
    border-radius: var(--regular-radius);
    display: grid;
    gap: 8px;
    grid-template-rows: repeat(4, 1fr);
    box-shadow: var(--main-shadow);
}
#trending-content-container > div {
    display: grid;
    gap: 3px 12px;
    grid-template: auto / auto 1fr;
    align-items: center;
    align-content: center;
}
#trending-content-container .username {
    font-weight: bold;
    align-self: end;
}
.trending-projects {
    align-self: start;
}

/* SVG icons */
svg {
    fill: white;
}

svg.black-icon,
.project-actions-container svg {
    height: 24px;
    width: auto;
    fill: black;
}

.side-content svg {
    height: 20px;
    width: auto;
}

/* Images */
img {
    border-radius: 50%;
}

#header > div:first-child img {
    height: 38px;
}

#header > div:nth-child(2) img {
    height: 50px;
}

img[alt="a1"],
img[alt="a2"],
img[alt="a3"],
img[alt="a4"] {
    grid-row-start: span 2;
    height: 45px;
}